.comments-area div#wp-loading {
	margin: auto;
	padding-bottom: 2em;
	text-align: center;
}
.comments-area .comments-title {
	display: none;
}
.comments-area .comment-metadata .hidden {
	display: none;
}