.comments-area div#wp-loading {
	display: none;
	margin: auto;
	padding-bottom: 2em;
	text-align: center;
}
.comments-area div#wp-comment-content {
	display: none;
}
.comments-area .comments-title {
	display: none;
}
.comments-area .hidden {
	display: none;
}
.nav-previous a, .nav-next a {
	cursor: pointer;
}
.comment-navigation {
	display: none;
}
.comment-reply-title {
	display: none;
}
.comment-reply-title.title-reply {
	display: block;
}
a#cancel-comment-reply-link {
	display: none;
}
#comment-notify {
	background-color: #ffffcc;
	border: 1px solid black;
	border-radius: 16px;
	display: none;
	padding: 8px 16px 8px 16px;
	position: fixed;
	right: 20px;
	top: 60px;
}