.comments-area div#wp-loading {
	display: none;
	margin: auto;
	padding-bottom: 2em;
	text-align: center;
}
.comments-area div#wp-comment-content {
	display: none;
}
.comments-area .comments-title {
	display: none;
}
.comments-area .hidden {
	display: none;
}
.nav-previous a, .nav-next a {
	cursor: pointer;
}
.comment-navigation {
	display: none;
}
.comment-reply-title {
	display: none;
}
.comment-reply-title.title-reply {
	display: block;
}
a#cancel-comment-reply-link {
	display: none;
}
